// nextflow.config

process {
    executor = 'slurm'
    queue = 'ledley-q' // Particion de SLURM
    beforeScript = 'source $(conda info --base)/etc/profile.d/conda.sh && conda activate tfm'

    // Si un job falla, Nextflow lo reintenta una vez mas

    errorStrategy = 'retry'

    maxRetries = 1
    
    cpus = 1
    memory = '4 GB'
    time = '2h'

    // Recursos especificos
    withName: 'FASTQ_TO_VCF' {
        cpus = 8
        memory = '16 GB'
        time = '6h'
    }
    withName: 'QC_VCF' {
        cpus = 2
        memory = '4 GB'
    }
    withName: 'MERGE_COHORTE' {
        cpus = 4
        memory = '16 GB'
    }
    withName: 'ANNOTATE_CHR' {
        cpus = 2
        memory = '32 GB' 
        time = '4h'
    }
    withName: 'EXPORT_RESULTS' {
        cpus = 2
        memory = '16 GB'
    }
}